.articles-index-pageContent
  @import 'header_style'

.articles-index-createNewArticleBtnWrapper
  button
    float: right
    @media screen and (max-width: 420px)
      display: none
  div
    display: none
    cursor: pointer
    float: right
    @media screen and (max-width: 420px)
      display: block

.articles-index-articleActions button
  width: 105px
  @media screen and (max-width: 400px)
    width: 32%

.articles-index-topPagination .pagination
  margin-top: .5em

.articles-index-articleTitleInPanel
  font-size: 1.2em
