.row.markdown-guide
  %main
    .markdown-item
      %h4 Bolding text
      .example-markdown-expand
        example
      .example-markdown
        %h4 Example: Bold
        %code
          **bolded text**
          %br
          __also bolded__
          %br
        %h4 output:
        %strong bolded text
        %br
        %strong also bolded
    .markdown-item
      %h4 Italics
      .example-markdown-expand
        example
      .example-markdown
        %h4 Example: Italics
        %pre
          %code
            :preserve
              *italicized text*
              _also italicized_
        %h4 output:
        %em italicized text
        %br
        %em also italicized
    .markdown-item
      %h4 Horizontal line
      .example-markdown-expand
        example
      .example-markdown
        %h4 Example: horizontal line
        %pre
          %code
            &#8208&#8208&#8208
        %h4 output:
        %hr
    .markdown-item
      %h4 Lists
      .example-markdown-expand
        example
      .example-markdown
        %h4 Example: Unordered list
        %pre
          %code
            :preserve
              &#8208 bullet item 1
              &#8208 bullet item 2
        %h4 output:
        %ul
          %li bullet item 1
          %li bullet item 2
        %h4 Example: Ordered list
        %pre
          %code
            :preserve
              1 bullet item 1
              2 bullet item 2
        %h4 output:
        %ol
          %li bullet item 1
          %li bullet item 2
    .markdown-item
      %h4 Headers
      .example-markdown-expand
        example
      .example-markdown
        %h4 Example: Headers
        %pre
          %code
            :preserve
              # header 1
              ## header 2
              ### header 3
              #### header 4
              ##### header 5
              ###### header 6
        %h4 output:
        %h1 Header 1
        %h2 Header 2
        %h3 Header 3
        %h4 Header 4
        %h5 Header 5
        %h6 Header 6
