.row.markdown-guide
  %main
    %ul
      %li
        To
        %strong bold
        your text, place two asteriks or two underscores on each side of the text you want to bold
      %li
        To
        %em italicize
        you text, place a single underscore or a single asterik on each side of the text you want to italicize
      %li
        To create a horizontal line to divide your article into sections, place three dashes on an empty line
