<div class='row markdown-guide'>
  <main>
    <ul>
      <li>To <strong>bold</strong> your text, place two asteriks on each side of the text you want to bold</li>
      <li>To <em>Italicize</em> your text, place a underscore on each side of the text you want to italicize</li>
    </ul>
  </main>
</div>
