<div class='row markdown-guide'>
  <main>
    <ul>
      <li>
        To <strong>bold</strong> your text, place two asteriks on each side of the text you want to bold
      </li>
    </ul>
  </main>
</div>
