<%= render 'shared/errors', obj: @article %>
<div class='container articles articles-new-pageContent'>
  <div class='row'>
    <div class='col-sm-8'>
      <h2 class='page-header col-sm-offset-1'>Edit article</h2>
      <%= render 'form', type: 'Edit' %>
    </div>
    <div class='col-sm-4'>
      <h2 class='page-header'>Markdown guide</h2>
      <%= render 'markdown-guide' %>
    </div>
  </div>
</div>
