<div class='container articles-index-pageContent'>
  <h2 class='page-header articles-index-createNewArticleBtnWrapper'>Listing all articles
    <%= link_to "<button class='btn btn-primary'>Create new article</button><div class='glyphicon glyphicon-edit'></div>".html_safe, new_article_path %>
  </h2>
  <%= render 'articles_listing', obj: @articles %>
</div>
