<%= render 'shared/errors', obj: @article %>
<div class='container articles articles-new-pageContent'>
  <div class='row'>
    <div class='col-sm-8 col-md-8 col-md-offset-1'>
      <h2 class='page-header'>Create new article</h2>
      <%= render 'form', :type => 'Create' %>
    </div>
    <div class='col-sm-4 col-md-3'>
      <h2 class='page-header'>Style guide</h2>
      <%= render 'markdown-guide' %>
    </div>
  </div>
</div>
