<h1>Showing selected article</h1>

<p>
  title: <%= @article.title %>
</p>
<p>
  description: <%= @article.description %>
</p>

<%= link_to 'Edit this article', edit_article_path(@article) %> |
<%= render 'back_to_articles_link' %>
