<% if @user.errors.any? %>
  <div class="row user-form-errors">
    <div class='col-xs-12 col-md-10 col-md-offset-1'>
      <div class='row form-error-messages'>
        <div class='col-xs-9'>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
          <% end %>
          </li>
        </ul>
        </div>
        <div class='col-xs-2 exit-flash-message'>
          <span class='glyphicon glyphicon-remove'></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
