<%= render 'shared/errors', obj: @user %>
<div class='users-signUpForm'>
  <h2 class='page-header'>Create an Account</h2>
  <%= render 'form', action: 'Create account' %>
</div>

<br />
<br />

<div class='exit-form-wrapper'>
  <%= link_to "[ Exit and return to article listings ]", articles_path %>
</div>
