<div class='pages-home-pageContent'>
  <div class='jumbotron'>
    <h2>Welcome to Challenge the Faith!</h2>
    <p>
      This website was developed for the purpose of providing a space for people to discuss and debate
      topics related to science and religion.
    </p>
    <button class='btn btn-primary pages-home-signUpButton'>Sign up</button>
    <div class='row' id='bible-verse-home-page-row'>
      <div id='main-page-bible-quote'>
        <div id="first-peter-title">1st Peter 3:19</div>
        <div id="first-peter-text">
          "But in your hearts revere Christ as Lord. Always be prepared
          to give an answer to everyone who asks you to give the reason for the hope that you have.
          But do this with gentleness and respect,"
        </div>
      </div>
      <div class="horizontal-line-through-middle-of-div-container">
        <div class='horizontal-line-through-middle-of-div'></div>
      </div>
    </div>
  </div>

</div>
