<footer>
  <div id="copyright">
    Copywrite &copy 2016 <a href="mailto:railsadvocate@gmail.com">railsadvocate@gmail.com</a>
  </div>
  <div id="footer-nav">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About' %></li>
    </ul>
  </div>
</footer>
