<% flash.each do |name, msg| %>
  <% if flash[:danger] %>
  <div class="flash-message-wrapper form-error-messages row">
  <% else %>
  <div class="message-wrapper flash-message-wrapper row">
  <% end %>
    <div class='col-xs-10'>
      <ul>
        <li>
          <%= msg %>
        </li>
      </ul>
    </div>
    <div class='col-xs-2 exit-flash-message'>
      <span class='glyphicon glyphicon-remove'></span>
    </div>
  </div>
<% end %>
